<!DOCTYPE html>

<form>
  <div class="container">

    <h2>New Item Form</h2>

    <label for="name"><b>Name</b></label>
    <br>
    <input id="name" name="item_name" required type="text">
    <br>

    <label for="description"><b>Description</b></label>
    <br>
    <input id="description" name="item_description" required type="text">
    <br>

    <label for="price"><b>Price</b></label>
    <br>
    <input id="price" name="item_price" required type="text">
    <br>
    <br>

    <button type="submit">Submit</button>

</div>
</form>
