
<nav>
  <div id="content">
    <div id="logo">
      NotAmazon.com
    </div>
    <div id="search">
      <div id="search-bar">
        <label for="search-input"></label><input id="search-input" type="text" name="firstname">
        <a (click)="search()">
          <img src="assets/icons/search.svg" draggable="false" id="search-button"/>
        </a>
      </div>

    </div>
    <div id="menu">
      <div id="cart">Cart (0)</div>
      <div id="login-or-register">Login or Register</div>
    </div>
    <div id="categories">
      Desktop PCs &nbsp;&nbsp;
      Laptops &nbsp;&nbsp;
      Tablets &nbsp;&nbsp;
      Notebooks &nbsp;&nbsp;
      Mousepads &nbsp;&nbsp;
      PC Cases &nbsp;&nbsp;
      Graphics Cards &nbsp;&nbsp;
      CPUs &nbsp;&nbsp;
      Phone Cases &nbsp;&nbsp;
      Fortnite
    </div>
  </div>

</nav>
