<body>
<p>
  Thank you. Your order has been placed successfully,
  and can be viewed in <a routerLink="/view-transactions">My Transactions</a>.
</p>

<h2 *ngIf="lootBoxItemIds.length == 1" class="lootBoxDescription">
  Your lucky loot box item:
</h2>
<h2 *ngIf="lootBoxItemIds.length > 1" class="lootBoxDescription">
  Your lucky loot box items:
</h2>
<div *ngFor="let item of lootBoxItems" id="items-container">
  <app-small-item-listing [item]="item" [showAddToCart]="false" class="item"></app-small-item-listing>
  <img alt="confetti" class="confetti" src="assets/confetti.gif">
</div>
<div>

</div>
</body>
