<body style="background-color: burlywood">

<h1 style="color: black">
  Cart
</h1>
</body>


<div *ngFor="let item of items">
  <app-cart-item [item]="item"></app-cart-item>
</div>

<div *ngIf="items.length == 0">
  Your shopping cart is empty :(
</div>

<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0"



       name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"



     height="1">



