<!--//product-1//-->
<div class = "item">
  <div class = "buttons">
    <span class = "delete-btn"></span>
    <span class = "like-btn"></span>
  </div>

  <!--//add image-->

  <!--//product-discription//-->
  <div class = "Description">
    <!--// could use some more discription make sure to use the proper syntax for adding discription-->
    <span>AMD Graphics card</span>
    <span>3rd gen</span>
    <span>Specs</span>
  </div>

</div>

<div class="Quantity">
  <button class= "plus-btn" type = "button" name = "Button">
    <!--//ADD Image-->
  </button>

  <label>
    <input type = "text" name ="name" value = "1">
  </label>
  <button class = "minus-btn" type = "button" name = "Button">
    <!--//ADD image-->
  </button>
</div>
<!--<app-cart-item></app-cart-item>-->
<div class = "total-price">$546</div>


