<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>DEV MENU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-white" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]='["/component-test-zone"]'>Component test zone</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]='["/counter"]'>Counter test</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]='["/fetch-data"]'>Fetch data test</a>
          </li>
          <li *ngIf="seller()" class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/item-view"]' class="nav-link text-white">Item View</a>
          </li>
          <li [routerLinkActive]='["link-active"]' class="nav-item">
            <a class="nav-link text-white" [routerLink]='["/cart"]'>Cart</a>
          </li>
          <li [routerLinkActive]='["link-active"]' class="nav-item">
            <a *ngIf="seller()" [routerLink]='["/new-item-form"]' class="nav-link text-white">New Item Form</a>
          </li>
          <li [routerLinkActive]='["link-active"]' class="nav-item">
            <a [routerLink]='["/admin"]' class="nav-link text-white">Admin</a>
          </li>
          <li [routerLinkActive]='["link-active"]' class="nav-item">
            <a [routerLink]='["/list-of-transactions"]' class="nav-link text-white">List of Transactions</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</header>
