<div class="swipe" id="slider">
  <div class="swipe-wrap">
    <div>
      <img alt="banner" src="assets/banners/1.jpg" width="100%">
      <a [routerLink]='["/"]'>

      </a>
    </div>
    <div>
      <img alt="banner" src="assets/banners/2.jpg" width="100%">
      <a [routerLink]='["/item/48"]' id="image-text-2">
        Go to page
      </a>
    </div>
    <div>
      <img alt="banner" src="assets/banners/3.jpg" width="100%">
      <a [routerLink]='["/item/86"]' class="rainbow" id="image-text-3">
        Open your loot box today!
      </a>
    </div>
  </div>
</div>
<br>

<app-recommended-items></app-recommended-items>
