<h2>Register a New Seller</h2>


<form>
  <div class="col-md-3 mb-3">
    <label for="name">
      Name:
    </label>
    <input class="form-control" id="name" required type="text">
  </div>


  <div class="col-md-3 mb-3">
    <label for="email">
      Temp Email Address
    </label>
    <input class="form-control" id="email" type="text">
  </div>


  <div class="col-md-3 mb-3">
    <label for="password">
      Password
    </label>
    <input class="form-control" id="password" type="password">
  </div>
  <Button (click)="onSubmit()" class="btn btn-primary" type="submit">Register New Seller</Button>
</form>

