<!--<h1>Item Page</h1>-->
<br>
<div *ngIf="item != null" id="container">
  <div class="split left">
    <img alt="{{item.name}}" draggable="true" id="image" src="{{item.imageURL}}">
  </div>

  <div class="split right">
    <h3>{{item.name}}</h3>
    <p>By {{item.seller.name}}</p>
    <p></p>
    <h5>
      Price:
      <span class="item-price">${{item.price.toLocaleString()}}</span>
    </h5>
    <br>
    <h6>Product description: </h6>
    <p>{{item.description}}</p>
    <br>
    <div id="add-to-cart">
      <div (click)="addToCart()" id="add-to-cart-button">
        <span id="add-to-cart-text">Add to Cart</span>
      </div>
    </div>
    <br>
    <br>
    <b>This item has been viewed {{item.views}} times.</b>

  </div>

</div>
