<h1>List of Transactions</h1>

<div class="row">
  <table class="table">

    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Seller ID</th>
        <th>Seller Name</th>
        <th>Date and Time</th>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.sellerSaleId}}</td>
      <td>{{item.sellerSaleName}}</td>
      <td>{{item.customerTransaction.date}}}</td>
      <td>{{item.itemSaleId}}</td>
      <td>{{item.itemSaleName}}</td>
      <td>{{item.itemSalePrice.toLocaleString()}}</td>

    </tr>
    </tbody>

  </table>
</div>
