<h1>List of Transactions</h1>

<div class="row">
  <table class="table">

    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Seller ID</th>
        <th>Seller Name</th>
        <th>Date and Time</th>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>
        <a routerLink="/chat/{{ item.sellerSaleId }}">
          {{item.sellerSaleId}}
        </a>
      </td>
      <td>
        <a routerLink="/chat/{{ item.sellerSaleId }}">
          {{item.sellerSaleName}}
        </a>
      </td>
      <td>{{item.customerTransaction.date}}}</td>
      <td>
        <a routerLink="/item/{{ item.itemSaleId }}">
          {{item.itemSaleId}}
        </a>
      </td>
      <td>
        <a routerLink="/item/{{ item.itemSaleId }}">
          {{item.itemSaleName}}
        </a>
      </td>
      <td>{{item.itemSalePrice.toLocaleString()}}</td>

    </tr>
    </tbody>

  </table>
</div>
